$headerHeight: 100px;
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    .header-wrap{
        @include inner-center($innerWidth);
        @include flex-space-center;
        #gnb{
            &.pc{
                @include flex-center;
                >li{
                    position: relative;
                    >a{
                        padding: 0 20px;
                    }
                    .sub-menu{
                        width: 100%;
                        position: absolute;
                        top: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        pointer-events: none;
                        opacity: 0;
                        transition: .5s;
                        padding-top: 10px;
                        text-align: center;
                        li{
                            width: 100%;
                            a{
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                    // &:hover{
                    //     .sub-menu{
                    //         pointer-events: visible;
                    //         opacity: 1;
                    //     }
                    // }
                }
                &:hover{
                    >li{
                        .sub-menu{
                            pointer-events: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            &.mo{
                position: absolute;
                top: $headerHeight;
                right: 0;
                >li{
                    a{}
                    .sub-menu{
                        display: none;
                    }   
                }
            }
        }
        .menuicon{
            width: 28px;
            height: 14px;
            position: relative;
            cursor: pointer;
            span{
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000;
                transition: .3s;
                left: 50%;
                transform-origin: center;
                transform: translateX(-50%);
                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
                &:nth-child(3){
                    top: 100%;
                }
            }
            &.active{
                span{
                    &:nth-child(1){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(45deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(-45deg);
                    }
                }
            }
        }
    }
}

footer{
    .footer-wrap{
        @include inner-center($innerWidth);
    }
}

@media (max-width:1300px){
    header{
        .header-wrap{
            margin: 0;
            padding: 0 5%;
        }
    }
    footer{
        .footer-wrap{
            margin: 0;
            padding: 0 5%;
        }
    }
}

@media (max-width: 1024px){

}

@media (max-width: 767px){

}

@media (max-width: 450px){

}