@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin flex_space {
    display: flex;
    justify-content: space-between;
}

@mixin flex_space_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_space_start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex_space_end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin flex_column_center {
    @include flex_center;
    flex-direction: column;
}

@mixin pos_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin pos-unset {
    position: unset;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform: unset;
}

@mixin bg_center($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin el_calc($count, $gap) {
    width: calc(100% / $count - ($gap * ($count - 1) / $count));
}

@mixin img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin fullSize {
    width: 100%;
    height: 100%;
}

@mixin maxSize($width, $height) {
    max-width: $width;
    max-height: $height;
}

@mixin minSize($width, $height) {
    min-width: $width;
    min-height: $height;
}

@mixin fixedSize($width,$height){
    width: 100%;
    max-width: $width;
    max-height: $width;
    height: 100%;
    max-height: $height;
    min-height: $height;
}

@mixin transition($x) {
    transition: $x;
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
}


@mixin clipText($num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}

@mixin el_hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@mixin el_fade {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@mixin dragg_off {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

@mixin dragg_on {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    pointer-events: visible;
}
