/* CSS reset */
*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    word-break: keep-all;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    content: "";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: none;
    background: none;
}

input,
input::placeholder option,
textarea,
textarea::placeholder,
select {
    font-family: inherit;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;

    &:checked {
        background-image: url("");
    }
}

ol,
ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a,
address {
    text-decoration: none;
    font-style: normal;
}


body {
    line-height: 1.3;
    width: 100%;
    overflow-x: hidden;
}


.only{
    display: block !important;
}
.pc_only {
    display: block;
}
.ta_only {
    display: none;
}
.mo_only {
    display: none;
}

.header_blur {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.45, 0.5, 1);
    pointer-events: none;
    transition: .3s;
    &.on {
        width: 100%;
        height: 100%;
        background-color: rgba(216, 216, 216, 0.1);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        opacity: 1;
    }
}


@media (max-width:1024px) {
    .pc-only{
        display: none;
    }
    .ta-only{
        display: block;
    }
}

@media (max-width:767px){
    .ta-only{
        display: none;
    }
    .mo-only{
        display: block;
    }
}