@import "./function";
@import "./swiper";

$innerWidth: 1300px;
@import "./gnb";

main {
    &#main_page {
        section {
            width: 100%;
            &:not(.s01){
                article{
                    @include inner-center($innerWidth);
                }
            }
            &.s01{
                width: 100%;
                height: 100vh;
                article {
                    @include fullsize;
                    .wrap {
                        @include fullsize;
                        .swiper {
                            @include fullsize;
                            position: relative;
                            z-index: 2;
    
                            .swiper-wrapper {
                                @include fullsize;
                                
                                .swiper-slide {
                                    @include fullsize;
                                    @include flex-center;
                                    position: relative;
                                    .bg {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        z-index: 1;
    
                                        >img,
                                        >video,
                                        >iframe {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
    
                                    .title {
                                        @include inner-center($innerWidth);
                                        position: relative;
                                        z-index: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    &#sub_page {
        &.about{
            section {
                article {
                    @include inner-center($innerWidth);
                    .wrap {
                        .title {
                            h2 {}
                            p {}
                        }
                        .content{
                        }
                    }
                }
            }
        }
    }
}



@import "./media";