@import "./function";
@import "./swiper";

$innerWidth: 1300px;
@import "./gnb";

main {
    &#main_page {
        section {
            width: 100%;
            &:not(.s01){
                article{
                    @include inner-center($innerWidth);
                    .wrap{
                        width: 100%;
                    }
                }
            }
        }
    }


    &#sub_page {
        section{
            width: 100%;
            article{
                width: 100%;
                @include inner-center($innerWidth);
                .wrap{
                    width: 100%;
                }
            } 
        }
    }
}



@import "./media";